img{
    max-width: 40%;
    max-height: 40%;
    margin: 10px;
}

#cargar_imagenes, #ver_imagenes{
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

#buscar_dorsal{
    height: 25px;
    width: 30%;
}

#busqueda{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

