body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cabecera {
    background-color: #2c3e50;
    color: white;
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}

#cabecera img#logo-img {
    max-width: 125px;
    max-height: none;
}

button{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}