.imagen {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

img {
    max-width: 28em;
    height: auto;
    display: block;
}

#upload_images, #search_images{
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

#enlaces{
    margin: 20px;
}


#imagenes_a_borrar{
    text-align: center;

}

#eliminar_seleccionadas{
    text-align: center;
}