img{
    max-width: 40%;
    max-height: 40%;
    margin: 10px;
}

#upload_images, #view_images{
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

#search_bib_number{
    height: 25px;
    width: 30%;
}

#search{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

