#search{
    width: 80%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_bib_number{
    height: 3vh;
    width: 30vw;
}

#cancel_button {
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    background-color: #e74c3c;
}

#message{
    margin: 0.4vh;
    padding: 0px;
    font-size: 0.9em;
}

#status-message {
    display: none;
    font-size: 0.9em;
}
#mainBox {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 3vh;
    margin: 3vh;
    width: 55vw;
    height: 65vh;
    text-align: center;
}

#files {
    border: 3px dashed #ccc;
    border-radius: 19px;
    padding: 1vh 1vw;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: border-color 0.3s, background-color 0.3s;
    min-height: 30vh;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
}

#files.dragover {
    border-color: #3498db;
    background-color: #ecf7ff;
}

#input {
    display: none;
}

#preview-container {
    width: 100%;
    height: 50vh; /* altura fija para contener imágenes */
    display: flex;
    flex-direction: row; 
    align-items: center;         
    overflow-x: auto;           
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.preview-item {
    max-height: 70%;
    margin: 0px;
    padding: 0px;
}

.form-contenedor {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #333;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: girar 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }