<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_comun.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_view_images.css') }}">
</head>
<body>
    
    <div id="cabecera">
        <img id="logo-img" src="{{ url_for('static', filename='logo_uva.png') }}" alt="Logo UVA">
        <h1>Image gallery</h1>
    </div>
    <div id = "enlaces">
        <a id="upload_images" href = {{ url_for('upload_images')}}>Upload images</a>
        <a id="search_images" href = {{ url_for('search_images')}}>Search imagees</a>
    </div>
    <form method="POST" action="/borrar">
        {% for imagen in imagenes %}
        <div class="imagen">
            <img src="{{ url_for('static', filename='image_folders/anotated/' + imagen) }}" alt="Imagen">
            <label>
                <input type="checkbox" name="imagenes_a_borrar" value="{{ imagen }}">
                Delete
            </label>
        </div>
        {% endfor %}
        <div id="eliminar_seleccionadas">
            <button type="submit">Delete selectedd</button>
        </div>
    </form>
</body>
</html>
