<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_view_images.css') }}">
</head>
<body>
    
    <div id="header">
        <h1>Image gallery</h1>
    </div>
    <div id = "links">
        <a id="upload_images" href = {{ url_for('upload_images')}}>Upload images</a>
        <a id="search_images" href = {{ url_for('search_images')}}>Search imagees</a>
    </div>
    <form method="POST" action="/borrar">
        {% for imagen in imagenes %}
        <div class="imagen">
            <img src="{{ url_for('static', filename='image_folders/anotated/' + imagen) }}" alt="Imagen">
            <label>
                <input type="checkbox" name="images_to_delete" value="{{ imagen }}">
                Delete
            </label>
        </div>
        {% endfor %}
        <div id="delete_selected">
            <button type="submit">Delete selected</button>
        </div>
    </form>
</body>
</html>
